<div class="masthead clearfix">
  <div class="inner">
    <h2 class="masthead-brand"><b>ANTHONY DO</b></h2>
      <br>
      <br>
    <nav class="nav nav-masthead app-nav">
      
    </nav>
  </div>
</div>
