<div class="masthead clearfix">
  <div class="inner">
    <h2 class="masthead-brand"><b>ANTHONY DO</b></h2>
    <nav class="nav nav-masthead app-nav">
      <%= login_helper 'nav-link nav-login' %>
      <br>
      <br>

    </nav>
  </div>
</div>
