<div class="masthead clearfix">
  <div class="inner">
    <h2 class="masthead-brand"><b>ANTHONY DO</b></h2>
    <nav class="nav nav-masthead app-nav">
      <%= nav1_helper 'nav-link', 'span' %>
    </nav>
  </div>
</div>
