<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>Quote</h4>
    <p><img src="https://s-media-cache-ak0.pinimg.com/736x/7c/09/88/7c0988027044e746206564377124cc8d--quotes-on-adventure-adventure-travel.jpg" alt="Mountain View" 
    style="width:300px;height:300px;">
        </p>
  </div>
  <div class="sidebar-module">
    <h4>Social</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://www.instagram.com/dosanity"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.facebook.com/anthony.do.1420"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://www.twitter.com/do_sanity"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div>