<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Just your typical photographer trying to live a life.
        </p>
  </div>
  <div class="sidebar-module">
    <h4>Social</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://www.instagram.com/dosanity"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.facebook.com/anthony.do.1420"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://www.twitter.com/do_sanity"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div>