<section class="jumbotron text-center">
  <div class="container">

    <p>
      <%= link_to 'New Portfolio', new_portfolio_path, class: 'btn button1' if logged_in?(:site_admin) %>
    </p>  
    
  </div>
</section>