<h1>About</h1>
<p>Just an 18 year old photographer, adventurer, and student trying to experience life.
   Love to create new memories with new friends and capture them through a lens.  
   Follow my adventures on social media or contact me.
   </p>
   <%= link_to "Contact", contact_path, class: "btn btn-lg btn-secondary" %>
