<div class="app-card-container">
  <div class="card">

    <h1>Contact</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-6">
        
         
        
        <h2>Email</h2>
        
        <p><a href = "mailto:dosanity11@gmail.com?subject=Photoshoot" "email me"> dosanity11@gmail.com </a></p>
        </p>
        
        <p>Based in Salt Lake City, Utah</p>
        
      </div>
      
      <div class="col-md-3">
        <h2>Social</h2>
        <ol class="list-unstyled social-links">
          <li><a href="https://www.instagram.com/dosanity"><%= fa_icon "instagram" %></a></li>
          <li><a href="https://www.facebook.com/anthony.do.1420"><%= fa_icon "facebook" %></a></li>
          <li><a href="https://www.twitter.com/do_sanity"><%= fa_icon "twitter" %></a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
