 <div class="inner cover">
    <h1 class="cover-heading">Photography</h1>
    <p class="lead"></p>
    <p class="lead">
      <%= link_to "Contact & Prices", contact_path, class: "btn btn-lg btn-secondary" %>
    </p>
    <h4>Information</h4>
    <p>Photographer based in Salt Lake City, Utah</p>
    <h5>Camera</h5>
    <p>Nikon d7200
    </p>
</div>
