<div>
  <% home_path %>
  <div class="inner cover">
    <h1 class="cover-heading">Photography</h1>
    <br>
    <p class="lead">
      <%= link_to "Portfolio", portfolios_path, class: "btn btn-lg button btn-custom" %>
    </p>
    
    <br>
    <br>
     
  </div>
</div>

