<div>
  <div class="inner cover">
    <h1 class="cover-heading">Photography</h1>
    <br>
    <p class="lead"></p>
    <p class="lead">
      <%= link_to "Contact & Prices", contact_path, class: "btn btn-lg btn-secondary" %>
    </p>
    <h2>Information</h2>
    <br>
    <p class="line-1 anim-typewriter">Photographer based in Salt Lake City, Utah</p>
    <h4>Camera</h4>
    <p>Nikon d7200</p>
  </div>
</div>


